Repository Yasumoto/joe-dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, terraform-fmt, taplo

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

statix:
  name: statix check
  entry: statix check
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: bash -c 'command -v terraform >/dev/null 2>&1 && terraform fmt || true'
  language: system
  pass_filenames: false

taplo:
  name: taplo format
  entry: taplo format
  language: system

whipped supports non-master branch checked out
  modules/fish.nix
Due: nixfmt, statix

tcd supports repo-wide root modules and handles filenames
  modules/fish.nix
Due: nixfmt, statix

better naming
  README.md
  flake.nix
Due: nixfmt, statix

claude code settings cleanup/refactor
  dotfiles/claude/hooks/dump-memory.sh
  dotfiles/claude/hooks/pre-commit-check.sh
  modules/claude-code.nix
Due: nixfmt, statix

fix(coredns): migrate homelab CoreDNS to independent non-privileged instance
  terraform/env-prod/homelab/coredns-corefile.tpl
  terraform/env-prod/homelab/coredns.tf
  terraform/env-prod/homelab/variables.tf
Due: terraform-fmt

[tmux] Stop status-bar fork storm from ssh-resolving identity tokens
  dotfiles/tmux.conf.local
Due: none

Add agent-inbox skill + per-directory skill wiring
  dotfiles/claude/skills/agent-inbox/SKILL.md
  modules/claude-code.nix
Due: nixfmt, statix

Add agent-voice MCP server to ~/.claude.json via home-manager
  modules/claude-code.nix
Due: nixfmt, statix

[tmux] Slow status-interval to 180s to prevent battery bar fork storm
  dotfiles/tmux.conf.local
Due: none

claude: add briefing-review + tmux-agent-orchestrator skills; improve status scripts for structured JSON
  dotfiles/claude/aws-sso-status.sh
  dotfiles/claude/gitlab-status.sh
  dotfiles/claude/k8s-token-status.sh
  dotfiles/claude/skills/briefing-review/SKILL.md
  dotfiles/claude/skills/tmux-agent-orchestrator/SKILL.md
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/capture-agent.sh
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/common.sh
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/conductor-status.sh
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/flow_delegate.sh
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/launch-agent.sh
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/list-agents.sh
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/preview-push.sh
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/roster.sh
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/send-to-agent.sh
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/set-label.sh
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/transcript.sh
  dotfiles/claude/skills/tmux-agent-orchestrator/scripts/wait-for-agent.sh
  dotfiles/claude/statusline-async.sh
  modules/claude-code.nix
  modules/git.nix
Due: nixfmt, statix

chore: upgrade home-manager and nixpkgs to 26.05
  README.md
  bootstrap.sh
  etc_nixos_configuration.nix
  flake.lock
  flake.nix
  home.nix
  modules/gogcli.nix
Due: nixfmt, statix

Add gui-unstick for GNOME Wayland amdgpu flip_done freezes
  home.nix
  modules/fish.nix
  scripts/host/gui-unstick
Due: nixfmt, statix

Wire Slack MCP for Claude Code and Grok; fix SSH settings deprecation
  home.nix
  modules/claude-code.nix
  modules/grok.nix
Due: nixfmt, statix

Fix gitlab-status glab flags for current CLI
  dotfiles/claude/gitlab-status.sh
Due: none

claude-code: fix work-config clone URL and stop hiding failures
  modules/claude-code.nix
Due: nixfmt, statix

herdr: add agent-aware terminal multiplexer via upstream flake
  flake.lock
  flake.nix
  home.nix
  modules/herdr.nix
Due: nixfmt, statix

claude-code: make work-config clone find ssh during activation
  modules/claude-code.nix
Due: nixfmt, statix

vault_login: set VAULT_TOKEN in tmux global environment
  modules/fish.nix
Due: nixfmt, statix

gui-unstick: survive busctl timeouts after DPMS off
  scripts/host/gui-unstick
Due: none

home: drop gnome-terminal module (use Ghostty)
  home.nix
Due: nixfmt, statix

briefing-review: open the commute walkthrough on last night's decision
  dotfiles/claude/skills/briefing-review/SKILL.md
Due: none

Remove homelab Terraform (now owned by private gimmeh)
  terraform/env-prod/homelab/.terraform.lock.hcl
  terraform/env-prod/homelab/README.md
  terraform/env-prod/homelab/coredns-corefile.tpl
  terraform/env-prod/homelab/coredns.tf
  terraform/env-prod/homelab/main.tf
  terraform/env-prod/homelab/mikrotik-dhcp.tf
  terraform/env-prod/homelab/mikrotik-firewall.tf
  terraform/env-prod/homelab/mikrotik-network.tf
  terraform/env-prod/homelab/providers.tf
  terraform/env-prod/homelab/terraform.tfvars.example
  terraform/env-prod/homelab/variables.tf
Due: terraform-fmt

grok: drop local Slack MCP in favor of the Space connector
  home.nix
  modules/grok.nix
Due: nixfmt, statix

grok: wire AWS Agent Toolkit with explicit profiles
  dotfiles/grok/aws-mcp-proxy.sh
  dotfiles/grok/skills/aws-profile/SKILL.md
  home.nix
  modules/claude-code.nix
  modules/grok.nix
Due: nixfmt, statix

grok+claude: drop AWS MCP, keep toolkit skills
  dotfiles/grok/aws-mcp-proxy.sh
  dotfiles/grok/skills/aws-profile/SKILL.md
  home.nix
  modules/claude-code.nix
  modules/grok.nix
Due: nixfmt, statix

desk-rgb: check in Bazzite lighting recipe
  scripts/host/desk-rgb/desk-spectrum.service
  scripts/host/desk-rgb/openrgb.service
  scripts/host/desk-rgb/razer.conf
  scripts/host/desk-rgb/sync.py
Due: none

desk-rgb: drive LG 27GN950 over native HID video-sync
  scripts/host/desk-rgb/desk-spectrum.service
  scripts/host/desk-rgb/sync.py
Due: none

home: use platform-native SSH agents on Linux and macOS
  home.nix
  modules/claude-code.nix
  modules/fish.nix
Due: nixfmt, statix

Add home-assistant-cli for talking to HA from the terminal
  home.nix
Due: nixfmt, statix

gui-unstick: re-apply layout via gdctl when DPMS leaves CRTC off
  home.nix
  modules/fish.nix
  scripts/host/gui-unstick
Due: nixfmt, statix

home: modernize Neovim LSP and plugin stack
  home.nix
  modules/fish.nix
  modules/neovim-lua.lua
Due: nixfmt, statix

claude: move briefing-review + agent-inbox skills to work-config
  dotfiles/claude/skills/agent-inbox/SKILL.md
  dotfiles/claude/skills/briefing-review/SKILL.md
Due: none

claude: restore agent-inbox skill to public dotfiles
  dotfiles/claude/skills/agent-inbox/SKILL.md
Due: none

home: skip gpg-agent-ssh without masking the unit
  home.nix
Due: nixfmt, statix

[claude/skills] agent-inbox: embed payloads inline, never stash@{n} references
  dotfiles/claude/skills/agent-inbox/SKILL.md
Due: none

[wiki] add wiki-harvest-grok for Grok Build session transcripts
  home.nix
  scripts/wiki/wiki-harvest-grok
Due: nixfmt, statix

desk-rgb: turn lights off on GNOME lock
  scripts/host/desk-rgb/desk-rgb-lock.service
  scripts/host/desk-rgb/sync.py
Due: none

desk-rgb: keep lock watcher alive across session flaps
  scripts/host/desk-rgb/desk-rgb-lock.service
Due: none

[grok] Add a status line with the branch MR and auth expiry
  dotfiles/grok/statusline.py
  modules/grok.nix
Due: nixfmt, statix

[home] enable wagent-sync user service
  home.nix
  modules/wagent.nix
Due: nixfmt, statix

Path conditions:
  nixfmt: any of: \.nix$
  statix: any of: \.nix$
  terraform-fmt: any of: \.tf$
  taplo: any of: \.toml$
